<div class="row category-bg">
  <div class="text-center" style="margin-top:15px;">
    <strong style="font-size: 30px;">应有尽有</strong>
    <p style="font-size: 20px;">覆盖所有环境 <br>
    </p>
  </div>
<div class="container">
    <div class="col-sm-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>picnic</h1>
        </div>
        <div class="panel-body">
          <img src="/images/beach3.jpg" alt="beach">
        </div>
        <div class="panel-footer">
          <h4>让您忘记它的存在</h4>
          <a href="products?category=lace"><button class="btn btn-lg">立即选购</button></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>sleep</h1>
        </div>
        <div class="panel-body">
          <img src="/images/sleeep1.jpg" alt="sleep">
        </div>
        <div class="panel-footer">

          <h4>舒适每一个晚上</h4>
          <a href="products?category=sleep"><button class="btn btn-lg">立即选购</button></a>
        </div>
      </div>
    </div>
   <div class="col-sm-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>sport</h1>
        </div>
        <div class="panel-body">
          <img src="/images/sport.jpg" alt="sport">
        </div>
        <div class="panel-footer">

          <h4>塑形每一次运动</h4>
          <a href="products?category=love"><button class="btn btn-lg">立即选购</button></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
       <div class="panel panel-default text-center">
         <div class="panel-heading">
           <h1>swim</h1>
         </div>
         <div class="panel-body">
           <img src="/images/swim.jpg" alt="swim">
         </div>
         <div class="panel-footer">

           <h4>尽显迷人风采</h4>
           <a href="products?category=swim"><button class="btn btn-lg">立即选购</button></a>
         </div>
       </div>
     </div>
  </div>
</div>
