<div class="container text-center">
  <div class="col-xs-6 thumbnail-customs">
    <img src="/images/movie 1.jpg" class="img-circle" alt="customs">

        <h4>Great fit and pretty</h4>
        <p style="color:red;">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        </p>
        <p>
"Very comfortable (no poking wire) and <br>
a nice option to the T-Shirt bra which <br>
      is now my daily go-to."</p>
    </div>
  <div class="col-xs-6 thumbnail-customs">
    <img src="/images/timg.jpeg" class="img-circle" alt="customs">
    <h4>VPerfect Contour Plunge</h4>
    <p style="color:red;">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
   </p>
    <p>
"I ordered a 34B and it fits perfectly. <br>
Super comfortable, straps stay in place, <br>
won’t show through when wearing Vnecks. <br>
        Love it!"</p>
  </div>

</div>
