<div class="jumbotron">
  <p class="slogan"> 我们坚信 <br>
     每一位女人心底都住着一位公主<br>
     我们坚信 <br>
     每一位女人都有做公主梦的权利 <br>
     Ibra 圆你的公主梦
   </p>
   <h2 class="title">极致舒适，尽在Ibra</h2>
   <p class="lead">
   <a href="#" class="btn btn-lg btn-danger">马上定制</a>
  </p>
</div>
