<div class="row">
  <%= render "jumbotron"%>

<div class="text-center" style="margin-top:15px;">
  <strong style="font-size: 30px;">从设计到选材</strong>
  </p>
  <p style="font-size: 20px;">我们全程是使用顶级设计师</p>
  <p>让您穿出，自信，健康，美丽</p>
</div>

<!-- thumbnail images-->
<div class="container">
<div class="row">
       <div class="col-sm-4">
         <div class="thumbnail">
         <a href="/products?category=swim"><img src="/images/cloth.jpeg" alt="bra"></a>
         <p class="text-center">精挑细选 <br>
           只为更加舒适
         </p>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="thumbnail">
         <a href="/products?category=lace"><img src="/images/desgin.jpeg" alt="bra"></a>
         <p class="text-center">大师设计 <br>
           更合您的尺寸
         </p>
         </div>
       </div>

       <div class="col-sm-4">
         <div class="thumbnail">
         <a href="/products?category=sleep"><img src="/images/gitf.jpg" alt="bra"></a>
         <p class="text-center">完美售后 <br>
           退换随你便
         </p>
         </div>
       </div>
</div>
</div>
<%= render "category"%>

<div class="text-center" style="margin-top:15px;  margin-bottom:50px;">
  <p>
  <strong style="font-size: 30px;">我们的顾客怎么说</strong>

  </p>

</div>
<%= render "customs"%>
<hr>
<div class="push">
  <div class="text-center" style="margin-top:15px;">
    <p>
    <strong style="font-size: 30px;">享受公主般的体验</strong>
    </p>
    <a href="/products" class="btn btn-lg btn-danger">立刻得到</a>
</div>
<div class="container-fluid index-footer text-center" style="margin-top:50px; padding-bottom:20px;">
  <div class="row">
    <div class="col-md-4">
      <h3>HELP</h3>
      <p>Customer Service
      <br>Live Chat <br>
       888-888-66</p>
    </div>
    <div class="col-md-4">
      <h3>ACCOUNT</h3>
      <p>Your Accout <br>
        Order Status <br>
         Love List</p>
    </div>
    <div class="col-md-4">
      <h3>SUBSCRIBE</h3>
      <p>Emails
      <br>stroe offers& Events</p>
    </div>

  </div>

  <div class="col-xs-12">
      <div class="col-xs-4">
        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i><br>
         FIND A STORE
      </div>
      <div class="col-xs-4">
        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
        <i class="fa fa-github-square fa-3x" aria-hidden="true"></i><br>
        <strong>CONNECT WITH US</strong>
      </div>
      <div class="col-xs-4">
        <i class="fa fa-gift fa-3x" aria-hidden="true"></i><br>
         SHOP GIFT CARDS
      </div>

  </div>

</div>



</div>
