<div class="row">
  <%= render "jumbotron"%>
<div class="text-center index-family" style="margin-top:15px;">
  <p>Limited Time!<br>
  <strong style="font-size: 30px;">Free Bralette</strong>
  </p>
  <p style="font-size: 20px;">WITH A BODY BY VICTIORIA BRA PURCHASE</p>
  <small>Valid on braletees uopn ot $29.22 USD Eccludes chealier & Pick.code FREEBRADDE</small>
  <br><br>
</div>


<!-- thumbnail images-->
<div id="services" class="container">
<div class="row">

   <div class="col-sm-5">
     <div class="thumbnail text-center">
     <a href="/products"><img src="/images/beach0.jpg" alt="bra"></a>
     <h3>FREE BRALETTE</h3> <br><br>
     <p>Just do yourself </p>
     </div>
   </div>
   <div class="col-sm-7">
     <div class="row">
       <div class="col-sm-6">
         <div class="thumbnail">
         <a href="/products?category=swim"><img src="/images/beach1.jpg" alt="bra"></a>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="thumbnail">
         <a href="/products?category=lace"><img src="/images/beach2.jpg" alt="bra"></a>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-sm-6">
         <div class="thumbnail">
         <a href="/products?category=sleep"><img src="/images/beach3.jpg" alt="bra"></a>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="thumbnail">
         <a href="/products?category=love"><img src="/images/beach4.jpg" alt="bra"></a>
         </div>
       </div>
     </div>
   </div>
</div>
</div>

<div class="text-center index-family" style="margin-top:15px;">
  <p>Limited Time!<br>
  <strong style="font-size: 30px;">Sport Bralette</strong>
  </p>
  <p style="font-size: 20px;">WITH A BODY BY VICTIORIA BRA PURCHASE</p>
  <small>Valid on braletees uopn ot $29.22 USD Eccludes chealier & Pick.code FREEBRADDE</small>
  <br><br>
</div>

<div class="text-center" style="margin-bottom:200px;">
  <h1 style="font-size:30px;">HOT & HAPPENING</h1>
</div>

<div class="container-fluid index-footer text-center" style="margin-top:50px; padding-bottom:20px;">
  <div class="row">
    <div class="col-md-4">
      <h3>HELP</h3>
      <p>Customer Service
      <br>Live Chat <br>
       888-888-66</p>
    </div>
    <div class="col-md-4">
      <h3>ACCOUNT</h3>
      <p>Your Accout <br>
        Order Status <br>
         Love List</p>
    </div>
    <div class="col-md-4">
      <h3>SUBSCRIBE</h3>
      <p>Emails
      <br>stroe offers& Events</p>
    </div>

  </div>

  <hr><hr>

  <div class="col-xs-12">
      <div class="col-xs-4">
        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i><br>
         FIND A STORE
      </div>
      <div class="col-xs-4">
        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
        <i class="fa fa-github-square fa-3x" aria-hidden="true"></i><br>
        <strong>CONNECT WITH US</strong>
      </div>
      <div class="col-xs-4">
        <i class="fa fa-gift fa-3x" aria-hidden="true"></i><br>
         SHOP GIFT CARDS
      </div>

  </div>

</div>



</div>
