<div class="row">
<footer class="container-fluid" style="padding-top:10px;">
  <strong><hr></strong>
    <div class="col-xs-12 text-center">
      <div class="col-xs-2">
        Site Map
      </div>
      <div class="col-xs-2">
        Site Terms& Notices
      </div>
      <div class="col-xs-2">
        Privacy
      </div>
      <div class="col-xs-2">
        Supply Chain
      </div>
      <div class="col-xs-2">
      Technology
      </div>
      <div class="col-xs-2">
        Careers
      </div>

    </div>

    <br><br>
   <p class="text-center">Copyright © IBRA
      <br>Design by 崔世瑞 & 胡文静
   </p>
</footer>
</div>
